<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="databasePath" value="C:/Users/Nolan/OneDrive/Code/Haven/Haven/Haven/bin/Debug/Data/SafeHavenGame.sqlite" />
    </appSettings>
</configuration>