# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

bin/
obj/
/Haven/packages/Metro.UI.CSS.3.0.6
/Haven/packages/Microsoft.AspNet.Razor.2.0.30506.0
/Haven/packages/Nancy.1.2.0
/Haven/packages/Nancy.Authentication.Forms.1.2.0
/Haven/packages/Nancy.Authentication.Stateless.1.2.0
/Haven/packages/Nancy.Hosting.Aspnet.1.2.0
/Haven/packages/Nancy.Viewengines.Razor.1.2.0
/Haven/packages/Newtonsoft.Json.6.0.8
/Haven/packages/sqlite-net.1.0.8
/Abraham.jpg
/Asher.JPG
/Asher.png
/Benjamin.JPG
/board_continue.jpg
/board_continue_square.jpg
/board_new.jpg
/board_new_square.jpg
/Dan.JPG
/design.txt
/family_game.jpg
/Gad.JPG
/God_the_Father.jpg
/Isaac.jpeg
/Issachar.JPG
/Jacob.jpg
/Joseph.JPG
/Judah.JPG
/Levi.JPG
/Naphtali.JPG
/Rembrandt_Harmensz._van_Rijn_035.jpg
/Rembrandt_Harmensz_square.jpg
/Reuben.JPG
/Simeon.JPG
/white_marble.jpg
/white_marble_4131372.JPG
/Zebulun.JPG
