<div id="mainMenu" class="tile-container padding10" style="width: 680px; margin: auto;">
    <div class="tile-large" data-role="tile" onclick="page('/Boards')">
        <div class="tile-content">
            <div class="image-container">
                <div class="frame">
                    <img src="Content/Images/board_new_square.jpg">
                </div>
                <div class="image-overlay op-cyan">
                    <h2>Start a new game</h2>
                    <p></p>
                </div>
            </div>
            <div class="tile-label header fg-white">New Game</div>
        </div>
    </div>
    <div class="tile-large" data-role="tile" onclick="page('/Games')">
        <div class="tile-content">
            <div class="image-container">
                <div class="frame">
                    <img src="Content/Images/board_continue_square.jpg">
                </div>
                <div class="image-overlay op-cyan">
                    <h2>Continue an unfinished game</h2>
                    <p></p>
                </div>
            </div>
            <div class="tile-label header fg-white">Continue Game</div>
        </div>
    </div>
</div>