@{
    Layout = "Views/_Layout.cshtml";
}
<div class="app-bar bg-cyan" data-role="appbar">
    <a class="app-bar-element" href="/">
        <span class="mif-home mif-2x"></span>
    </a>
    <ul class="app-bar-menu">
        <li><a href="/Games">Games</a></li>
        <li><a href="/Statistics">Statistics</a></li>
        <li><a href="/Boards">Boards</a></li>
        <li><a href="/Questions">Questions</a></li>
    </ul>
    <ul class="app-bar-menu place-right">
        <li>
                <a class="dropdown-toggle fg-white"><span class="mif-cog"></span></a>
                <ul class="d-menu place-right" data-role="dropdown" data-no-close="true">
                <li onclick="page('/Profile')"><a class="bg-hover-cyan fg-hover-white">Profile</a></li>
                <li><a class="bg-hover-cyan fg-hover-white" href="/Logout">Logout</a></li>
            </ul>
        </li>
    </ul>
</div>
<div class="padding10"></div>
<div id="content"></div>