<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link href="/Content/metro.css" rel="stylesheet">
    <link href="/Content/metro-icons.css" rel="stylesheet">
    <script src="/Scripts/metro.js"></script>
    <script src="https://cdn.rawgit.com/visionmedia/page.js/master/page.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <link href="/Content/Game.css" rel="stylesheet">
    <link href="/Content/Haven.css" rel="stylesheet">
    <script type="text/jsx" src="~/Scripts/Components/MainMenuTile.js"></script>
    <script type="text/jsx" src="~/Scripts/Components/Game/MainMenu.js"></script>
    <script type="text/jsx" src="~/Scripts/Components/SubMenuTile.js"></script>
    <script type="text/jsx" src="~/Scripts/Components/Game/BoardsMenu.js"></script>
    <script type="text/jsx" src="~/Scripts/Components/Game/NewGameDialog.js"></script>
    <script type="text/jsx" src="~/Scripts/Components/Game/GamesMenu.js"></script>
    <script type="text/jsx" src="~/Scripts/Menu.js"></script>
    <script src="/Scripts/Game.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Safe Haven</title>
</head>
<body class="bg-grayLighter">
    <!--Back Button-->
    <div id="backButton" class="padding10" style="float: left;display: none;">
        <button onclick="history.back()" class="button mif-arrow-left mif-2x bd-gray bg-transparent bg-active-gray bg-hover-grayLight fg-gray fg-active-grayLighter fg-hover-gray" style="border-width: medium;border-radius: 50%;width: 56px;height: 56px;border-style: solid;"></button>
    </div>

    <!--Game-->
    <div id="game" style="display: none;"></div>

    <!--Loading-->
    <div id="loading" class="padding20" data-role="preloader" data-type="metro" data-style="dark" style="display: none;"></div>

</body>
</html>
