@using Cassette.Nancy
@{
    Layout = null;
    Bundles.Reference("bundle.css");
    Bundles.Reference("jquery");
    Bundles.Reference("metro.js");
}

<!DOCTYPE html>

<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width" />
    <title>Haven</title>
    @Bundles.RenderStylesheets()
    @Bundles.RenderScripts()
</head>
<body class="bg-grayLighter">
    <div class="login-form padding20 block-shadow">
        <form method="post">
            <h1 class="text-light">Login</h1>
            <hr class="thin" />
            <br />
            <div class="input-control text full-size" data-role="input">
                <label for="user_login">Email:</label>
                <input type="text" name="Username" id="user_login">
                <button class="button helper-button clear"><span class="mif-cross"></span></button>
            </div>
            <br />
            <br />
            <div class="input-control password full-size" data-role="input">
                <label for="user_password">Password:</label>
                <input type="password" name="Password" id="user_password">
                <button class="button helper-button reveal"><span class="mif-looks"></span></button>
            </div>
            <br />
            <br />
            <div class="form-actions">
                <button type="submit" class="button primary">Login</button>
                <button type="button" class="button link">Cancel</button>
            </div>
        </form>
    </div>
</body>
</html>
