@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using Haven;

@foreach (Player player in @Model)
{
    <div playerid="@player.Id">
        @foreach (Haven.Message message in player.RecentMessages(10))
        {
            <div class="message">@message.Text</div>
        }
    </div>
}