@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>Compiled files:</div>
    <ul>
        @foreach (string file in @Model)
        {
            <li>@file</li>
        }
    </ul>
</body>
</html>
