
.spaceType8 {
    display: none;
}

/*.space {
    border-width: thin;
    border-style: solid;
    border-radius: 0%;
}

.action {
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 12px;
  text-decoration: none;
  margin: 4px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.action:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.blue {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
}

.blue:hover {
  background-color: #6FC6FF;
}

.green {
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15B358;
}

.green:hover {
  background-color: #48E68B;
}

.SelectPiece {
  background-color: #627A73;
  box-shadow: 1px 1px 1px 1px #334C46;
}

.SelectPiece:hover {
  background-color: #81938E;
}

.red {
  background-color: #e74c3c;
  box-shadow: 0px 2px 0px 0px #CE3323;
}

.red:hover {
  background-color: #FF6656;
}

.purple {
  background-color: #9b59b6;
  box-shadow: 0px 5px 0px 0px #82409D;
}

.purple:hover {
  background-color: #B573D0;
}

.orange {
  background-color: #e67e22;
  box-shadow: 0px 5px 0px 0px #CD6509;
}

.orange:hover {
  background-color: #FF983C;
}

.yellow {
  background-color: #f1c40f;
  box-shadow: 0px 5px 0px 0px #D8AB00;
}

.yellow:hover {
  background-color: #FFDE29;
}*/