@using Haven;

@foreach (Player player in @Model)
{
    if (player.PieceId != 0)
    {
        <div class="piece bg-@player.Piece.Color"
             direction="@player.MovementDirection"
             spaceid="@player.SpaceId"
             playerid="@player.Id"
             style="position: absolute;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    transform: translate(-10px, -10px);
                    box-shadow: 1px 1px 5px black;
                    z-index: 999;">
            <span class="icon mif-@player.Piece.Image mif-lg bg-@player.Piece.Color"
                  style="position: relative;
                         top: 50%;
                         left: 50%;
                         transform: translate(-50%, -50%);"></span>
        </div>
    }
}