<div id="pieces">
    @Html.Partial("Pieces", @Model)
</div>
<div id="actions" class="padding5" style="position:absolute;left: 820px;">
    @Html.Partial("Actions", @Model)
</div>
<div id="cards" style="display: none;">
    @Html.Partial("Cards", @Model)
</div>
<div id="messages" style="display: none;">
    @Html.Partial("Messages", @Model)
</div>